.student{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsla(0, 0%, 50%, 0.8);
}

.student p{
  margin: 0;
}


.welcome-message{
  font-size: 2.5em;
  background-color :yellowgreen;
  color:aliceblue;
  padding: 10px;
  border-radius: 5px;
  margin:0;
}

.login-prop{
  font-size: 2.5em;
  background-color :darkred;
  color:aliceblue;
  padding: 10px;
  border-radius: 5px;
  margin:0;
}

