.student{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsla(0, 0%, 50%, 0.8);
}

.student p{
  margin: 0;
}


.welcome-message{
  font-size: 2.5em;
  background-color :yellowgreen;
  color:aliceblue;
  padding: 10px;
  border-radius: 5px;
  margin:0;
}

.login-prop{
  font-size: 2.5em;
  background-color :darkred;
  color:aliceblue;
  padding: 10px;
  border-radius: 5px;
  margin:0;
}

.list-category{
  font-size: 2.5em;
  font-weight: bold;
  color:darkorchid;
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color:antiquewhite;

}
.list-items li{
  font-size: 2em;
  list-style:circle;
  color:aquamarine;
  text-align: center;
  margin: 0;
}
.list-items li:hover{
  color: darkgray;
  cursor: pointer;
}

.counter-container{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.count-display{
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 50px;

}
.counter-button{
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  background-color: rgb(220, 87, 100);
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.counter-button:hover{
  background-color: rgb(16, 239, 164);
}